
/*Set Defaults*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #eeeeee;
}

/*Header*/
.bosca{
	max-width: 1200px;
	margin: 0 auto;
}

#ceann{
	background: #fff;
}

#teacscinn{
	padding-left: 5px;
	float: left;
}

#teacscinn ul{
	margin-bottom: 0px;
}

#teacscinn ul li{
	display: inline-block;
}

#piclogo{
	float: left;
}

#teacslogo{
	line-height: 60px;
	float: right;
}

#picbaile{
	padding-top: 10px;
}

#abhaile{
	font-weight: bold;
	font-size: 1.65em;
	text-decoration: none;
	padding-left: 20px;
	color: #303030;
}

#barr{
	float: right;
}

#barr ul{
	display: inline-block;
	margin-bottom: 0px;
}

#barr ul li{
	display: inline-block;
}

#barr ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: #303030;
	line-height: 60px;
}

#barr ul li a:hover{
	color: #3e99ff;
}

/*Content and Sections*/
p{
	margin-bottom: 20px;
}

h1, h2, h4, h5, h6{
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	margin-top: 10px;
	padding-left: 32px;
}

ul, ol{
	margin-left: 20px;
}

#boscataoibh{
	max-height: 245px;
	max-width: 40%;
	overflow-y: scroll;
	position: fixed;
}

li.arthaobh{
	padding-left: 20px;
}

.litir{
	font-weight: bold;
}

.taobh{
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 20%;
	width: 20%;
	float: left;
}

.taobh div{
	background: #fff;
	padding: 30px;
}

.taobh div h2{
	color: #303030;
}

.taobh div ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.taobh div ul li a{
	text-decoration: none;
	color: #303030;
}

.taobh div ul li a:hover{
	color: #3e99ff;
}

.rudai{
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 65%;
	width: 65%;
	float: right;
}

.alt{
	background: #fff;
	padding: 30px;
}

#picgluaise{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-bottom: 5%;
}

.wurzburg{
	text-align: center;
}

h2.wurzburg{
	margin-bottom: 45px;
}

.gluaiseannabileoige{
	display: table;
}

.gluaiseannabileoige li{
	display: table-cell;
}

.uimhir{
	font-weight: bold;
	text-align: right;
	padding-right: 20px;
	min-width: 50px;
}

a.eolas{
	text-decoration: none;
	color: #303030;
}

/*Footer*/
.ceartaighreiteach::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.cos{
	background: #fff;
	text-align: center;
	padding: 10px;
}
